{% extends 'layouts/app.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Login</h1>

<form action="/login" method="post">
    {{ csrf() | raw }}
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" value="{{ old('email') }}">
        {% if errors.email %}
            <div style="color: red;">{{ errors.email }}</div>
        {% endif %}
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        {% if errors.password %}
            <div style="color: red;">{{ errors.password }}</div>
        {% endif %}
    </div>
        {% if errors.wrong_credentials %}
            <div style="color: red;">{{ errors.wrong_credentials }}</div>
        {% endif %}
    <button type="submit">Save</button>
</form>

{% endblock %}